Babel
click
filelock
Flask
geoalchemy2
jinja2
jsonschema
psycopg2
pydantic
pygeofilter
pygeoif
pyproj
python-dateutil
pytz
PyYAML
rasterio
requests
shapely
SQLAlchemy
tinydb
dokanalyse @ git+https://github.com/kartverket/DOK.Arealanalyse.Process@main
postgresql_ext @ git+https://github.com/Arkitektum/pygeoapi.provider.postgresql_ext@main
