Babel
click
filelock
Flask
jinja2
jsonschema
pydantic
pygeofilter
pygeoif
pyproj>=3.7.0
python-dateutil
pytz
PyYAML
rasterio
requests
shapely>=2.1.0
psycopg2
SQLAlchemy
geoalchemy2
tinydb
Flask>=2.2.0
Flask-Cors
postgresql_ext @ git+https://github.com/Arkitektum/pygeoapi.provider.postgresql_ext@v0.5.0
mvt_postgresql_ext @ git+https://github.com/Arkitektum/pygeoapi.provider.mvt_postgresql_ext@main
styles_provider @ git+https://github.com/Arkitektum/pygeoapi.provider.styles@main
